.no-margin {
    margin: 0px;
}
.no-padding {
    padding: 0px;
}
.w100 {
    width: 100%;
}
.h100 {
    height: 100%;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}