
.AddMoneyModal-section .modal-dialog .modal-content .modal-header.modal-heading{
  background-color: #333;
  color: greenyellow;
}
#AddMoneyModal{
    opacity: 1;
    display: block;
    border-radius: 5px;
}
.AddMoneyModal-section .modal .modal-dialog.modal-style {
    margin-top: 150px;
}
.AddMoneyModal-section .modal .modal-dialog .modal-content .modal-footer .btn.modal-btn {
    outline: none;
}
